.page {
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-row {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
    align-items: stretch;
    text-align: center;
	align-content: stretch;    
}

.page-col {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

@media screen and (max-width: 1024px) {
    .page-col {
        flex-direction: column;
    }
    .table-card {
        display: block !important;
        padding-top: 10px !important;
        min-width: 95vw !important;
        max-width: 95vw !important;
    }
}

.analyse-card {
    text-align: center;
    display: block;
    min-width: 90vw;
}

.table-card {
    text-align: center;
    display: inline;
    max-width: 48vw;
    min-width: 43vw;
    max-height: 50vh;
}
